body {
  margin: 20px 10px;
  text-align: center;
  color: white;
}

#container {
  width: 400px;
  min-height: 400px;
  height: auto;
  background-color: rgb(98, 147, 220);
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 10px;
}

#text {
  width: 270px;
  height: 24px;
  margin-right: 5px;
}

#btn {
  background-color: rgb(81, 188, 255);
  padding: 8px 20px;
  border: none;
  border-radius: 12px;
  color: rgb(244, 244, 244);
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(124, 237, 146);
}
